body{
    margin: 0;
    padding: 0;
    background: #000;
}

.box{
    position: relative;
    margin: 10% auto 0;
    width: 400px;
    height: 400px;
    background: linear-gradient(0deg, #000, #333);
}

h1{
    position: absolute;
    top: 110px;
    left: 100px;
    font-size: 50px;
    text-align: center;
    color: #00ffea;
}

.color::after{
    content: "";
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #ff6666, #ff8000, #80ff00, #00ffbf, #0040ff, #ff00ff, #ff0040, #4000ff, #00ff80, #ffff00);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: animate 20s linear;
}

@keyframes animate{
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 400% 0;
    }
    100%{
        background-position: 0 0;
    }
}

.color::after{
    filter: blur(15px);
}